{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'details.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div id='paper'>
        <p class='titleText'>3. 규칙성 분석</p>
        <p class='title'>일간 용변 횟수 그래프</p>
        <p class='smallText'>{{regText1}}</p>
        <p class='smallText'>{{regText2}}</p>
        {{toiletGraph|safe}}
        <p class='warningText'>*가로축은 날짜, 세로축은 용변 횟수를 의미합니다.</p>
        <p class='title'>시간대별 용변 횟수 그래프</p>
        {{toiletGraph2|safe}}
        <p class='warningText'>*가로축은 시간대, 세로축은 용변 횟수를 의미합니다.</p>
        <p class='title'>시간대별 약 복용 그래프</p>
        <p class='smallText'>{{regText3}}</p>
        <p class='smallText'>{{regText4}}</p>
        <p class='smallText'>{{regText5}}</p>
        <p class='smallText'>{{regText6}}</p>
        <p class='smallText'>{{regText7}}</p>
        {{medicineGraph|safe}}
        <p class='warningText'>*가로축은 날짜, 세로축은 약 복용 횟수를 의미합니다.</p>
    </div>
</body>
</html>